*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background: black; */
    color: white;
    background-image: url("images/bgwallpaper.jpeg");
}

#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 50px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    /* background: #385170; */
    background: red;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    text-align: left;
}

.header-text h1 i{
    color: red;
}

.btn{
    display:block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}

/* about section */

#about{
    padding: 80px 0;
    color:white;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 70%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: lightblue;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* work-exp section */
#workexp{
    padding: 80px 0;
    color:white;
}


.workexp-title{
    display: flex;
    margin: 20px 0 40px;
}

.workexp-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.workexp-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;
}

.workexp-links.active-link::after{
    width: 100%;
}

.workexp-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.workexp-contents ul span{
    color: lightblue;
    font-size: 14px;
}

.workexp-contents{
    display: none;
}
.workexp-contents.active-tab{
    display: block;
}



/* projects section */
#projects-portfolio{
    padding: 50px 0;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width:100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), white);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color:#385170;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}



/* contacts section  */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: lightblue;
    transform: translateY(-5px);
}

.contact-right form{
    width:100%;
}

form input, form textarea{
    width:100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
.btn.btn2{
    display: inline-block;
   
}
form .btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top:20px;
    cursor:pointer;
    background: #ff004f;
}

/* ------------------------css for small screen-------- */

/* @media only screen and (max-width:600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
} */